.container {
  width: 90%;
  margin: auto;
  margin-top: 3rem;
}

td {
  text-align: left;
}

td:nth-child(3),
td:nth-child(4) {
  text-align: center;
  vertical-align: middle;
<<<<<<< HEAD
  font-size: x-large;
=======
>>>>>>> 4edf209 (feat: Mission component display)
}
